@font-face {
    font-family: 'DDC Hardware';
    src: url('../fonts/ddchardware/ddchardware-compressed-webfont.woff2') format('woff2'),
         url('../fonts/ddchardware/ddchardware-compressed-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'DDC Hardware';
    src: url('../fonts/ddchardware/ddchardware-condensed-webfont.woff2') format('woff2'),
         url('../fonts/ddchardware/ddchardware-condensed-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'DDC Hardware';
    src: url('../fonts/ddchardware/ddchardware-regular-webfont.woff2') format('woff2'),
         url('../fonts/ddchardware/ddchardware-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}