@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?qtatmt');
	src:url('../fonts/icomoon/icomoon.eot?qtatmt#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?qtatmt') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?qtatmt') format('woff'),
		url('../fonts/icomoon/icomoon.svg?qtatmt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-2-"], [class*=" icon-2-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-2-glass:before {
	content: "\f000";
}
.icon-2-music:before {
	content: "\f001";
}
.icon-2-search2:before {
	content: "\f002";
}
.icon-2-envelope-o:before {
	content: "\f003";
}
.icon-2-heart:before {
	content: "\f004";
}
.icon-2-star:before {
	content: "\f005";
}
.icon-2-star-o:before {
	content: "\f006";
}
.icon-2-user:before {
	content: "\f007";
}
.icon-2-film:before {
	content: "\f008";
}
.icon-2-th-large:before {
	content: "\f009";
}
.icon-2-th:before {
	content: "\f00a";
}
.icon-2-th-list:before {
	content: "\f00b";
}
.icon-2-check:before {
	content: "\f00c";
}
.icon-2-close:before {
	content: "\f00d";
}
.icon-2-remove:before {
	content: "\f00d";
}
.icon-2-times:before {
	content: "\f00d";
}
.icon-2-search-plus:before {
	content: "\f00e";
}
.icon-2-search-minus:before {
	content: "\f010";
}
.icon-2-power-off:before {
	content: "\f011";
}
.icon-2-signal:before {
	content: "\f012";
}
.icon-2-cog:before {
	content: "\f013";
}
.icon-2-gear:before {
	content: "\f013";
}
.icon-2-trash-o:before {
	content: "\f014";
}
.icon-2-home:before {
	content: "\f015";
}
.icon-2-file-o:before {
	content: "\f016";
}
.icon-2-clock-o:before {
	content: "\f017";
}
.icon-2-road:before {
	content: "\f018";
}
.icon-2-download:before {
	content: "\f019";
}
.icon-2-arrow-circle-o-down:before {
	content: "\f01a";
}
.icon-2-arrow-circle-o-up:before {
	content: "\f01b";
}
.icon-2-inbox:before {
	content: "\f01c";
}
.icon-2-play-circle-o:before {
	content: "\f01d";
}
.icon-2-repeat2:before {
	content: "\f01e";
}
.icon-2-rotate-right:before {
	content: "\f01e";
}
.icon-2-refresh:before {
	content: "\f021";
}
.icon-2-list-alt:before {
	content: "\f022";
}
.icon-2-lock:before {
	content: "\f023";
}
.icon-2-flag:before {
	content: "\f024";
}
.icon-2-headphones:before {
	content: "\f025";
}
.icon-2-volume-off:before {
	content: "\f026";
}
.icon-2-volume-down:before {
	content: "\f027";
}
.icon-2-volume-up:before {
	content: "\f028";
}
.icon-2-qrcode:before {
	content: "\f029";
}
.icon-2-barcode:before {
	content: "\f02a";
}
.icon-2-tag:before {
	content: "\f02b";
}
.icon-2-tags:before {
	content: "\f02c";
}
.icon-2-book:before {
	content: "\f02d";
}
.icon-2-bookmark:before {
	content: "\f02e";
}
.icon-2-print:before {
	content: "\f02f";
}
.icon-2-camera:before {
	content: "\f030";
}
.icon-2-font:before {
	content: "\f031";
}
.icon-2-bold:before {
	content: "\f032";
}
.icon-2-italic:before {
	content: "\f033";
}
.icon-2-text-height:before {
	content: "\f034";
}
.icon-2-text-width:before {
	content: "\f035";
}
.icon-2-align-left:before {
	content: "\f036";
}
.icon-2-align-center2:before {
	content: "\f037";
}
.icon-2-align-right:before {
	content: "\f038";
}
.icon-2-align-justify2:before {
	content: "\f039";
}
.icon-2-list:before {
	content: "\f03a";
}
.icon-2-dedent:before {
	content: "\f03b";
}
.icon-2-outdent:before {
	content: "\f03b";
}
.icon-2-indent:before {
	content: "\f03c";
}
.icon-2-video-camera:before {
	content: "\f03d";
}
.icon-2-image:before {
	content: "\f03e";
}
.icon-2-photo:before {
	content: "\f03e";
}
.icon-2-picture-o:before {
	content: "\f03e";
}
.icon-2-pencil:before {
	content: "\f040";
}
.icon-2-map-marker:before {
	content: "\f041";
}
.icon-2-adjust:before {
	content: "\f042";
}
.icon-2-tint:before {
	content: "\f043";
}
.icon-2-edit:before {
	content: "\f044";
}
.icon-2-pencil-square-o:before {
	content: "\f044";
}
.icon-2-share-square-o:before {
	content: "\f045";
}
.icon-2-check-square-o:before {
	content: "\f046";
}
.icon-2-arrows:before {
	content: "\f047";
}
.icon-2-step-backward:before {
	content: "\f048";
}
.icon-2-fast-backward:before {
	content: "\f049";
}
.icon-2-backward:before {
	content: "\f04a";
}
.icon-2-play2:before {
	content: "\f04b";
}
.icon-2-pause2:before {
	content: "\f04c";
}
.icon-2-stop2:before {
	content: "\f04d";
}
.icon-2-forward:before {
	content: "\f04e";
}
.icon-2-fast-forward2:before {
	content: "\f050";
}
.icon-2-step-forward:before {
	content: "\f051";
}
.icon-2-eject:before {
	content: "\f052";
}
.icon-2-chevron-left:before {
	content: "\f053";
}
.icon-2-chevron-right:before {
	content: "\f054";
}
.icon-2-plus-circle:before {
	content: "\f055";
}
.icon-2-minus-circle:before {
	content: "\f056";
}
.icon-2-times-circle:before {
	content: "\f057";
}
.icon-2-check-circle:before {
	content: "\f058";
}
.icon-2-question-circle:before {
	content: "\f059";
}
.icon-2-info-circle:before {
	content: "\f05a";
}
.icon-2-crosshairs:before {
	content: "\f05b";
}
.icon-2-times-circle-o:before {
	content: "\f05c";
}
.icon-2-check-circle-o:before {
	content: "\f05d";
}
.icon-2-ban2:before {
	content: "\f05e";
}
.icon-2-arrow-left:before {
	content: "\f060";
}
.icon-2-arrow-right:before {
	content: "\f061";
}
.icon-2-arrow-up:before {
	content: "\f062";
}
.icon-2-arrow-down:before {
	content: "\f063";
}
.icon-2-mail-forward:before {
	content: "\f064";
}
.icon-2-share:before {
	content: "\f064";
}
.icon-2-expand2:before {
	content: "\f065";
}
.icon-2-compress:before {
	content: "\f066";
}
.icon-2-plus:before {
	content: "\f067";
}
.icon-2-minus:before {
	content: "\f068";
}
.icon-2-asterisk:before {
	content: "\f069";
}
.icon-2-exclamation-circle:before {
	content: "\f06a";
}
.icon-2-gift:before {
	content: "\f06b";
}
.icon-2-leaf:before {
	content: "\f06c";
}
.icon-2-fire:before {
	content: "\f06d";
}
.icon-2-eye:before {
	content: "\f06e";
}
.icon-2-eye-slash:before {
	content: "\f070";
}
.icon-2-exclamation-triangle:before {
	content: "\f071";
}
.icon-2-warning:before {
	content: "\f071";
}
.icon-2-plane:before {
	content: "\f072";
}
.icon-2-calendar:before {
	content: "\f073";
}
.icon-2-random:before {
	content: "\f074";
}
.icon-2-comment:before {
	content: "\f075";
}
.icon-2-magnet:before {
	content: "\f076";
}
.icon-2-chevron-up:before {
	content: "\f077";
}
.icon-2-chevron-down:before {
	content: "\f078";
}
.icon-2-retweet:before {
	content: "\f079";
}
.icon-2-shopping-cart:before {
	content: "\f07a";
}
.icon-2-folder:before {
	content: "\f07b";
}
.icon-2-folder-open:before {
	content: "\f07c";
}
.icon-2-arrows-v:before {
	content: "\f07d";
}
.icon-2-arrows-h:before {
	content: "\f07e";
}
.icon-2-bar-chart:before {
	content: "\f080";
}
.icon-2-bar-chart-o:before {
	content: "\f080";
}
.icon-2-twitter-square:before {
	content: "\f081";
}
.icon-2-facebook-square:before {
	content: "\f082";
}
.icon-2-camera-retro:before {
	content: "\f083";
}
.icon-2-key:before {
	content: "\f084";
}
.icon-2-cogs:before {
	content: "\f085";
}
.icon-2-gears:before {
	content: "\f085";
}
.icon-2-comments:before {
	content: "\f086";
}
.icon-2-thumbs-o-up:before {
	content: "\f087";
}
.icon-2-thumbs-o-down:before {
	content: "\f088";
}
.icon-2-star-half:before {
	content: "\f089";
}
.icon-2-heart-o:before {
	content: "\f08a";
}
.icon-2-sign-out:before {
	content: "\f08b";
}
.icon-2-linkedin-square:before {
	content: "\f08c";
}
.icon-2-thumb-tack:before {
	content: "\f08d";
}
.icon-2-external-link:before {
	content: "\f08e";
}
.icon-2-sign-in:before {
	content: "\f090";
}
.icon-2-trophy:before {
	content: "\f091";
}
.icon-2-github-square:before {
	content: "\f092";
}
.icon-2-upload:before {
	content: "\f093";
}
.icon-2-lemon-o:before {
	content: "\f094";
}
.icon-2-phone:before {
	content: "\f095";
}
.icon-2-square-o:before {
	content: "\f096";
}
.icon-2-bookmark-o:before {
	content: "\f097";
}
.icon-2-phone-square:before {
	content: "\f098";
}
.icon-2-twitter:before {
	content: "\f099";
}
.icon-2-facebook:before {
	content: "\f09a";
}
.icon-2-facebook-f:before {
	content: "\f09a";
}
.icon-2-github:before {
	content: "\f09b";
}
.icon-2-unlock2:before {
	content: "\f09c";
}
.icon-2-credit-card:before {
	content: "\f09d";
}
.icon-2-feed:before {
	content: "\f09e";
}
.icon-2-rss:before {
	content: "\f09e";
}
.icon-2-hdd-o:before {
	content: "\f0a0";
}
.icon-2-bullhorn:before {
	content: "\f0a1";
}
.icon-2-bell-o:before {
	content: "\f0a2";
}
.icon-2-certificate:before {
	content: "\f0a3";
}
.icon-2-hand-o-right:before {
	content: "\f0a4";
}
.icon-2-hand-o-left:before {
	content: "\f0a5";
}
.icon-2-hand-o-up:before {
	content: "\f0a6";
}
.icon-2-hand-o-down:before {
	content: "\f0a7";
}
.icon-2-arrow-circle-left:before {
	content: "\f0a8";
}
.icon-2-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-2-arrow-circle-up:before {
	content: "\f0aa";
}
.icon-2-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-2-globe:before {
	content: "\f0ac";
}
.icon-2-wrench:before {
	content: "\f0ad";
}
.icon-2-tasks:before {
	content: "\f0ae";
}
.icon-2-filter:before {
	content: "\f0b0";
}
.icon-2-briefcase:before {
	content: "\f0b1";
}
.icon-2-arrows-alt:before {
	content: "\f0b2";
}
.icon-2-group:before {
	content: "\f0c0";
}
.icon-2-users:before {
	content: "\f0c0";
}
.icon-2-chain:before {
	content: "\f0c1";
}
.icon-2-link:before {
	content: "\f0c1";
}
.icon-2-cloud:before {
	content: "\f0c2";
}
.icon-2-flask:before {
	content: "\f0c3";
}
.icon-2-cut:before {
	content: "\f0c4";
}
.icon-2-scissors:before {
	content: "\f0c4";
}
.icon-2-copy:before {
	content: "\f0c5";
}
.icon-2-files-o:before {
	content: "\f0c5";
}
.icon-2-paperclip:before {
	content: "\f0c6";
}
.icon-2-floppy-o:before {
	content: "\f0c7";
}
.icon-2-save:before {
	content: "\f0c7";
}
.icon-2-square:before {
	content: "\f0c8";
}
.icon-2-bars:before {
	content: "\f0c9";
}
.icon-2-navicon:before {
	content: "\f0c9";
}
.icon-2-reorder:before {
	content: "\f0c9";
}
.icon-2-list-ul:before {
	content: "\f0ca";
}
.icon-2-list-ol:before {
	content: "\f0cb";
}
.icon-2-strikethrough:before {
	content: "\f0cc";
}
.icon-2-underline:before {
	content: "\f0cd";
}
.icon-2-table:before {
	content: "\f0ce";
}
.icon-2-magic:before {
	content: "\f0d0";
}
.icon-2-truck:before {
	content: "\f0d1";
}
.icon-2-pinterest:before {
	content: "\f0d2";
}
.icon-2-pinterest-square:before {
	content: "\f0d3";
}
.icon-2-google-plus-square:before {
	content: "\f0d4";
}
.icon-2-google-plus:before {
	content: "\f0d5";
}
.icon-2-money:before {
	content: "\f0d6";
}
.icon-2-caret-down:before {
	content: "\f0d7";
}
.icon-2-caret-up:before {
	content: "\f0d8";
}
.icon-2-caret-left:before {
	content: "\f0d9";
}
.icon-2-caret-right:before {
	content: "\f0da";
}
.icon-2-columns2:before {
	content: "\f0db";
}
.icon-2-sort:before {
	content: "\f0dc";
}
.icon-2-unsorted:before {
	content: "\f0dc";
}
.icon-2-sort-desc:before {
	content: "\f0dd";
}
.icon-2-sort-down:before {
	content: "\f0dd";
}
.icon-2-sort-asc:before {
	content: "\f0de";
}
.icon-2-sort-up:before {
	content: "\f0de";
}
.icon-2-envelope:before {
	content: "\f0e0";
}
.icon-2-linkedin:before {
	content: "\f0e1";
}
.icon-2-rotate-left:before {
	content: "\f0e2";
}
.icon-2-undo:before {
	content: "\f0e2";
}
.icon-2-gavel:before {
	content: "\f0e3";
}
.icon-2-legal:before {
	content: "\f0e3";
}
.icon-2-dashboard:before {
	content: "\f0e4";
}
.icon-2-tachometer:before {
	content: "\f0e4";
}
.icon-2-comment-o:before {
	content: "\f0e5";
}
.icon-2-comments-o:before {
	content: "\f0e6";
}
.icon-2-bolt:before {
	content: "\f0e7";
}
.icon-2-flash:before {
	content: "\f0e7";
}
.icon-2-sitemap:before {
	content: "\f0e8";
}
.icon-2-umbrella2:before {
	content: "\f0e9";
}
.icon-2-clipboard:before {
	content: "\f0ea";
}
.icon-2-paste:before {
	content: "\f0ea";
}
.icon-2-lightbulb-o:before {
	content: "\f0eb";
}
.icon-2-exchange:before {
	content: "\f0ec";
}
.icon-2-cloud-download2:before {
	content: "\f0ed";
}
.icon-2-cloud-upload2:before {
	content: "\f0ee";
}
.icon-2-user-md:before {
	content: "\f0f0";
}
.icon-2-stethoscope:before {
	content: "\f0f1";
}
.icon-2-suitcase:before {
	content: "\f0f2";
}
.icon-2-bell:before {
	content: "\f0f3";
}
.icon-2-coffee:before {
	content: "\f0f4";
}
.icon-2-cutlery:before {
	content: "\f0f5";
}
.icon-2-file-text-o:before {
	content: "\f0f6";
}
.icon-2-building-o:before {
	content: "\f0f7";
}
.icon-2-hospital-o:before {
	content: "\f0f8";
}
.icon-2-ambulance:before {
	content: "\f0f9";
}
.icon-2-medkit:before {
	content: "\f0fa";
}
.icon-2-fighter-jet:before {
	content: "\f0fb";
}
.icon-2-beer:before {
	content: "\f0fc";
}
.icon-2-h-square:before {
	content: "\f0fd";
}
.icon-2-plus-square:before {
	content: "\f0fe";
}
.icon-2-angle-double-left:before {
	content: "\f100";
}
.icon-2-angle-double-right:before {
	content: "\f101";
}
.icon-2-angle-double-up:before {
	content: "\f102";
}
.icon-2-angle-double-down:before {
	content: "\f103";
}
.icon-2-angle-left:before {
	content: "\f104";
}
.icon-2-angle-right:before {
	content: "\f105";
}
.icon-2-angle-up:before {
	content: "\f106";
}
.icon-2-angle-down:before {
	content: "\f107";
}
.icon-2-desktop:before {
	content: "\f108";
}
.icon-2-laptop:before {
	content: "\f109";
}
.icon-2-tablet:before {
	content: "\f10a";
}
.icon-2-mobile:before {
	content: "\f10b";
}
.icon-2-mobile-phone:before {
	content: "\f10b";
}
.icon-2-circle-o:before {
	content: "\f10c";
}
.icon-2-quote-left:before {
	content: "\f10d";
}
.icon-2-quote-right:before {
	content: "\f10e";
}
.icon-2-spinner:before {
	content: "\f110";
}
.icon-2-circle:before {
	content: "\f111";
}
.icon-2-mail-reply:before {
	content: "\f112";
}
.icon-2-reply:before {
	content: "\f112";
}
.icon-2-github-alt:before {
	content: "\f113";
}
.icon-2-folder-o:before {
	content: "\f114";
}
.icon-2-folder-open-o:before {
	content: "\f115";
}
.icon-2-smile-o:before {
	content: "\f118";
}
.icon-2-frown-o:before {
	content: "\f119";
}
.icon-2-meh-o:before {
	content: "\f11a";
}
.icon-2-gamepad:before {
	content: "\f11b";
}
.icon-2-keyboard-o:before {
	content: "\f11c";
}
.icon-2-flag-o:before {
	content: "\f11d";
}
.icon-2-flag-checkered:before {
	content: "\f11e";
}
.icon-2-terminal:before {
	content: "\f120";
}
.icon-2-code:before {
	content: "\f121";
}
.icon-2-mail-reply-all:before {
	content: "\f122";
}
.icon-2-reply-all:before {
	content: "\f122";
}
.icon-2-star-half-empty:before {
	content: "\f123";
}
.icon-2-star-half-full:before {
	content: "\f123";
}
.icon-2-star-half-o:before {
	content: "\f123";
}
.icon-2-location-arrow:before {
	content: "\f124";
}
.icon-2-crop:before {
	content: "\f125";
}
.icon-2-code-fork:before {
	content: "\f126";
}
.icon-2-chain-broken:before {
	content: "\f127";
}
.icon-2-unlink:before {
	content: "\f127";
}
.icon-2-question:before {
	content: "\f128";
}
.icon-2-info:before {
	content: "\f129";
}
.icon-2-exclamation:before {
	content: "\f12a";
}
.icon-2-superscript:before {
	content: "\f12b";
}
.icon-2-subscript:before {
	content: "\f12c";
}
.icon-2-eraser:before {
	content: "\f12d";
}
.icon-2-puzzle-piece:before {
	content: "\f12e";
}
.icon-2-microphone2:before {
	content: "\f130";
}
.icon-2-microphone-slash:before {
	content: "\f131";
}
.icon-2-shield:before {
	content: "\f132";
}
.icon-2-calendar-o:before {
	content: "\f133";
}
.icon-2-fire-extinguisher:before {
	content: "\f134";
}
.icon-2-rocket:before {
	content: "\f135";
}
.icon-2-maxcdn:before {
	content: "\f136";
}
.icon-2-chevron-circle-left:before {
	content: "\f137";
}
.icon-2-chevron-circle-right:before {
	content: "\f138";
}
.icon-2-chevron-circle-up:before {
	content: "\f139";
}
.icon-2-chevron-circle-down:before {
	content: "\f13a";
}
.icon-2-html5:before {
	content: "\f13b";
}
.icon-2-css3:before {
	content: "\f13c";
}
.icon-2-anchor2:before {
	content: "\f13d";
}
.icon-2-unlock-alt:before {
	content: "\f13e";
}
.icon-2-bullseye:before {
	content: "\f140";
}
.icon-2-ellipsis-h:before {
	content: "\f141";
}
.icon-2-ellipsis-v:before {
	content: "\f142";
}
.icon-2-rss-square:before {
	content: "\f143";
}
.icon-2-play-circle:before {
	content: "\f144";
}
.icon-2-ticket:before {
	content: "\f145";
}
.icon-2-minus-square:before {
	content: "\f146";
}
.icon-2-minus-square-o:before {
	content: "\f147";
}
.icon-2-level-up:before {
	content: "\f148";
}
.icon-2-level-down:before {
	content: "\f149";
}
.icon-2-check-square:before {
	content: "\f14a";
}
.icon-2-pencil-square:before {
	content: "\f14b";
}
.icon-2-external-link-square:before {
	content: "\f14c";
}
.icon-2-share-square:before {
	content: "\f14d";
}
.icon-2-compass:before {
	content: "\f14e";
}
.icon-2-caret-square-o-down:before {
	content: "\f150";
}
.icon-2-toggle-down:before {
	content: "\f150";
}
.icon-2-caret-square-o-up:before {
	content: "\f151";
}
.icon-2-toggle-up:before {
	content: "\f151";
}
.icon-2-caret-square-o-right:before {
	content: "\f152";
}
.icon-2-toggle-right:before {
	content: "\f152";
}
.icon-2-eur:before {
	content: "\f153";
}
.icon-2-euro:before {
	content: "\f153";
}
.icon-2-gbp:before {
	content: "\f154";
}
.icon-2-dollar:before {
	content: "\f155";
}
.icon-2-usd:before {
	content: "\f155";
}
.icon-2-inr:before {
	content: "\f156";
}
.icon-2-rupee:before {
	content: "\f156";
}
.icon-2-cny:before {
	content: "\f157";
}
.icon-2-jpy:before {
	content: "\f157";
}
.icon-2-rmb:before {
	content: "\f157";
}
.icon-2-yen:before {
	content: "\f157";
}
.icon-2-rouble:before {
	content: "\f158";
}
.icon-2-rub:before {
	content: "\f158";
}
.icon-2-ruble:before {
	content: "\f158";
}
.icon-2-krw:before {
	content: "\f159";
}
.icon-2-won:before {
	content: "\f159";
}
.icon-2-bitcoin:before {
	content: "\f15a";
}
.icon-2-btc:before {
	content: "\f15a";
}
.icon-2-file2:before {
	content: "\f15b";
}
.icon-2-file-text:before {
	content: "\f15c";
}
.icon-2-sort-alpha-asc:before {
	content: "\f15d";
}
.icon-2-sort-alpha-desc:before {
	content: "\f15e";
}
.icon-2-sort-amount-asc:before {
	content: "\f160";
}
.icon-2-sort-amount-desc:before {
	content: "\f161";
}
.icon-2-sort-numeric-asc:before {
	content: "\f162";
}
.icon-2-sort-numeric-desc:before {
	content: "\f163";
}
.icon-2-thumbs-up:before {
	content: "\f164";
}
.icon-2-thumbs-down:before {
	content: "\f165";
}
.icon-2-youtube-square:before {
	content: "\f166";
}
.icon-2-youtube:before {
	content: "\f167";
}
.icon-2-xing:before {
	content: "\f168";
}
.icon-2-xing-square:before {
	content: "\f169";
}
.icon-2-youtube-play:before {
	content: "\f16a";
}
.icon-2-dropbox:before {
	content: "\f16b";
}
.icon-2-stack-overflow:before {
	content: "\f16c";
}
.icon-2-instagram:before {
	content: "\f16d";
}
.icon-2-flickr:before {
	content: "\f16e";
}
.icon-2-adn:before {
	content: "\f170";
}
.icon-2-bitbucket:before {
	content: "\f171";
}
.icon-2-bitbucket-square:before {
	content: "\f172";
}
.icon-2-tumblr:before {
	content: "\f173";
}
.icon-2-tumblr-square:before {
	content: "\f174";
}
.icon-2-long-arrow-down:before {
	content: "\f175";
}
.icon-2-long-arrow-up:before {
	content: "\f176";
}
.icon-2-long-arrow-left:before {
	content: "\f177";
}
.icon-2-long-arrow-right:before {
	content: "\f178";
}
.icon-2-apple:before {
	content: "\f179";
}
.icon-2-windows:before {
	content: "\f17a";
}
.icon-2-android:before {
	content: "\f17b";
}
.icon-2-linux:before {
	content: "\f17c";
}
.icon-2-dribbble:before {
	content: "\f17d";
}
.icon-2-skype:before {
	content: "\f17e";
}
.icon-2-foursquare:before {
	content: "\f180";
}
.icon-2-trello:before {
	content: "\f181";
}
.icon-2-female:before {
	content: "\f182";
}
.icon-2-male:before {
	content: "\f183";
}
.icon-2-gittip:before {
	content: "\f184";
}
.icon-2-gratipay:before {
	content: "\f184";
}
.icon-2-sun-o:before {
	content: "\f185";
}
.icon-2-moon-o:before {
	content: "\f186";
}
.icon-2-archive:before {
	content: "\f187";
}
.icon-2-bug:before {
	content: "\f188";
}
.icon-2-vk:before {
	content: "\f189";
}
.icon-2-weibo:before {
	content: "\f18a";
}
.icon-2-renren:before {
	content: "\f18b";
}
.icon-2-pagelines:before {
	content: "\f18c";
}
.icon-2-stack-exchange:before {
	content: "\f18d";
}
.icon-2-arrow-circle-o-right:before {
	content: "\f18e";
}
.icon-2-arrow-circle-o-left:before {
	content: "\f190";
}
.icon-2-caret-square-o-left:before {
	content: "\f191";
}
.icon-2-toggle-left:before {
	content: "\f191";
}
.icon-2-dot-circle-o:before {
	content: "\f192";
}
.icon-2-wheelchair:before {
	content: "\f193";
}
.icon-2-vimeo-square:before {
	content: "\f194";
}
.icon-2-try:before {
	content: "\f195";
}
.icon-2-turkish-lira:before {
	content: "\f195";
}
.icon-2-plus-square-o:before {
	content: "\f196";
}
.icon-2-space-shuttle:before {
	content: "\f197";
}
.icon-2-slack:before {
	content: "\f198";
}
.icon-2-envelope-square:before {
	content: "\f199";
}
.icon-2-wordpress:before {
	content: "\f19a";
}
.icon-2-openid:before {
	content: "\f19b";
}
.icon-2-bank:before {
	content: "\f19c";
}
.icon-2-institution:before {
	content: "\f19c";
}
.icon-2-university:before {
	content: "\f19c";
}
.icon-2-graduation-cap:before {
	content: "\f19d";
}
.icon-2-mortar-board:before {
	content: "\f19d";
}
.icon-2-yahoo:before {
	content: "\f19e";
}
.icon-2-google:before {
	content: "\f1a0";
}
.icon-2-reddit:before {
	content: "\f1a1";
}
.icon-2-reddit-square:before {
	content: "\f1a2";
}
.icon-2-stumbleupon-circle:before {
	content: "\f1a3";
}
.icon-2-stumbleupon:before {
	content: "\f1a4";
}
.icon-2-delicious:before {
	content: "\f1a5";
}
.icon-2-digg:before {
	content: "\f1a6";
}
.icon-2-pied-piper:before {
	content: "\f1a7";
}
.icon-2-pied-piper-alt:before {
	content: "\f1a8";
}
.icon-2-drupal:before {
	content: "\f1a9";
}
.icon-2-joomla:before {
	content: "\f1aa";
}
.icon-2-language:before {
	content: "\f1ab";
}
.icon-2-fax:before {
	content: "\f1ac";
}
.icon-2-building:before {
	content: "\f1ad";
}
.icon-2-child:before {
	content: "\f1ae";
}
.icon-2-paw:before {
	content: "\f1b0";
}
.icon-2-spoon:before {
	content: "\f1b1";
}
.icon-2-cube:before {
	content: "\f1b2";
}
.icon-2-cubes:before {
	content: "\f1b3";
}
.icon-2-behance:before {
	content: "\f1b4";
}
.icon-2-behance-square:before {
	content: "\f1b5";
}
.icon-2-steam:before {
	content: "\f1b6";
}
.icon-2-steam-square:before {
	content: "\f1b7";
}
.icon-2-recycle:before {
	content: "\f1b8";
}
.icon-2-automobile:before {
	content: "\f1b9";
}
.icon-2-car:before {
	content: "\f1b9";
}
.icon-2-cab:before {
	content: "\f1ba";
}
.icon-2-taxi:before {
	content: "\f1ba";
}
.icon-2-tree:before {
	content: "\f1bb";
}
.icon-2-spotify:before {
	content: "\f1bc";
}
.icon-2-deviantart:before {
	content: "\f1bd";
}
.icon-2-soundcloud:before {
	content: "\f1be";
}
.icon-2-database:before {
	content: "\f1c0";
}
.icon-2-file-pdf-o:before {
	content: "\f1c1";
}
.icon-2-file-word-o:before {
	content: "\f1c2";
}
.icon-2-file-excel-o:before {
	content: "\f1c3";
}
.icon-2-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-2-file-image-o:before {
	content: "\f1c5";
}
.icon-2-file-photo-o:before {
	content: "\f1c5";
}
.icon-2-file-picture-o:before {
	content: "\f1c5";
}
.icon-2-file-archive-o:before {
	content: "\f1c6";
}
.icon-2-file-zip-o:before {
	content: "\f1c6";
}
.icon-2-file-audio-o:before {
	content: "\f1c7";
}
.icon-2-file-sound-o:before {
	content: "\f1c7";
}
.icon-2-file-movie-o:before {
	content: "\f1c8";
}
.icon-2-file-video-o:before {
	content: "\f1c8";
}
.icon-2-file-code-o:before {
	content: "\f1c9";
}
.icon-2-vine:before {
	content: "\f1ca";
}
.icon-2-codepen:before {
	content: "\f1cb";
}
.icon-2-jsfiddle:before {
	content: "\f1cc";
}
.icon-2-life-bouy:before {
	content: "\f1cd";
}
.icon-2-life-buoy:before {
	content: "\f1cd";
}
.icon-2-life-ring:before {
	content: "\f1cd";
}
.icon-2-life-saver:before {
	content: "\f1cd";
}
.icon-2-support:before {
	content: "\f1cd";
}
.icon-2-circle-o-notch:before {
	content: "\f1ce";
}
.icon-2-ra:before {
	content: "\f1d0";
}
.icon-2-rebel:before {
	content: "\f1d0";
}
.icon-2-empire:before {
	content: "\f1d1";
}
.icon-2-ge:before {
	content: "\f1d1";
}
.icon-2-git-square:before {
	content: "\f1d2";
}
.icon-2-git:before {
	content: "\f1d3";
}
.icon-2-hacker-news:before {
	content: "\f1d4";
}
.icon-2-y-combinator-square:before {
	content: "\f1d4";
}
.icon-2-yc-square:before {
	content: "\f1d4";
}
.icon-2-tencent-weibo:before {
	content: "\f1d5";
}
.icon-2-qq:before {
	content: "\f1d6";
}
.icon-2-wechat:before {
	content: "\f1d7";
}
.icon-2-weixin:before {
	content: "\f1d7";
}
.icon-2-paper-plane:before {
	content: "\f1d8";
}
.icon-2-send:before {
	content: "\f1d8";
}
.icon-2-paper-plane-o:before {
	content: "\f1d9";
}
.icon-2-send-o:before {
	content: "\f1d9";
}
.icon-2-history:before {
	content: "\f1da";
}
.icon-2-circle-thin:before {
	content: "\f1db";
}
.icon-2-header:before {
	content: "\f1dc";
}
.icon-2-paragraph2:before {
	content: "\f1dd";
}
.icon-2-sliders:before {
	content: "\f1de";
}
.icon-2-share-alt:before {
	content: "\f1e0";
}
.icon-2-share-alt-square:before {
	content: "\f1e1";
}
.icon-2-bomb:before {
	content: "\f1e2";
}
.icon-2-futbol-o:before {
	content: "\f1e3";
}
.icon-2-soccer-ball-o:before {
	content: "\f1e3";
}
.icon-2-tty:before {
	content: "\f1e4";
}
.icon-2-binoculars:before {
	content: "\f1e5";
}
.icon-2-plug:before {
	content: "\f1e6";
}
.icon-2-slideshare:before {
	content: "\f1e7";
}
.icon-2-twitch:before {
	content: "\f1e8";
}
.icon-2-yelp:before {
	content: "\f1e9";
}
.icon-2-newspaper-o:before {
	content: "\f1ea";
}
.icon-2-wifi:before {
	content: "\f1eb";
}
.icon-2-calculator:before {
	content: "\f1ec";
}
.icon-2-paypal:before {
	content: "\f1ed";
}
.icon-2-google-wallet:before {
	content: "\f1ee";
}
.icon-2-cc-visa:before {
	content: "\f1f0";
}
.icon-2-cc-mastercard:before {
	content: "\f1f1";
}
.icon-2-cc-discover:before {
	content: "\f1f2";
}
.icon-2-cc-amex:before {
	content: "\f1f3";
}
.icon-2-cc-paypal:before {
	content: "\f1f4";
}
.icon-2-cc-stripe:before {
	content: "\f1f5";
}
.icon-2-bell-slash:before {
	content: "\f1f6";
}
.icon-2-bell-slash-o:before {
	content: "\f1f7";
}
.icon-2-trash:before {
	content: "\f1f8";
}
.icon-2-copyright:before {
	content: "\f1f9";
}
.icon-2-at:before {
	content: "\f1fa";
}
.icon-2-eyedropper:before {
	content: "\f1fb";
}
.icon-2-paint-brush:before {
	content: "\f1fc";
}
.icon-2-birthday-cake:before {
	content: "\f1fd";
}
.icon-2-area-chart:before {
	content: "\f1fe";
}
.icon-2-pie-chart:before {
	content: "\f200";
}
.icon-2-line-chart:before {
	content: "\f201";
}
.icon-2-lastfm:before {
	content: "\f202";
}
.icon-2-lastfm-square:before {
	content: "\f203";
}
.icon-2-toggle-off:before {
	content: "\f204";
}
.icon-2-toggle-on:before {
	content: "\f205";
}
.icon-2-bicycle:before {
	content: "\f206";
}
.icon-2-bus:before {
	content: "\f207";
}
.icon-2-ioxhost:before {
	content: "\f208";
}
.icon-2-angellist:before {
	content: "\f209";
}
.icon-2-cc:before {
	content: "\f20a";
}
.icon-2-ils:before {
	content: "\f20b";
}
.icon-2-shekel:before {
	content: "\f20b";
}
.icon-2-sheqel:before {
	content: "\f20b";
}
.icon-2-meanpath:before {
	content: "\f20c";
}
.icon-2-buysellads:before {
	content: "\f20d";
}
.icon-2-connectdevelop:before {
	content: "\f20e";
}
.icon-2-dashcube:before {
	content: "\f210";
}
.icon-2-forumbee:before {
	content: "\f211";
}
.icon-2-leanpub:before {
	content: "\f212";
}
.icon-2-sellsy:before {
	content: "\f213";
}
.icon-2-shirtsinbulk:before {
	content: "\f214";
}
.icon-2-simplybuilt:before {
	content: "\f215";
}
.icon-2-skyatlas:before {
	content: "\f216";
}
.icon-2-cart-plus:before {
	content: "\f217";
}
.icon-2-cart-arrow-down:before {
	content: "\f218";
}
.icon-2-diamond:before {
	content: "\f219";
}
.icon-2-ship:before {
	content: "\f21a";
}
.icon-2-user-secret:before {
	content: "\f21b";
}
.icon-2-motorcycle:before {
	content: "\f21c";
}
.icon-2-street-view:before {
	content: "\f21d";
}
.icon-2-heartbeat:before {
	content: "\f21e";
}
.icon-2-venus:before {
	content: "\f221";
}
.icon-2-mars:before {
	content: "\f222";
}
.icon-2-mercury:before {
	content: "\f223";
}
.icon-2-intersex:before {
	content: "\f224";
}
.icon-2-transgender:before {
	content: "\f224";
}
.icon-2-transgender-alt:before {
	content: "\f225";
}
.icon-2-venus-double:before {
	content: "\f226";
}
.icon-2-mars-double:before {
	content: "\f227";
}
.icon-2-venus-mars:before {
	content: "\f228";
}
.icon-2-mars-stroke:before {
	content: "\f229";
}
.icon-2-mars-stroke-v:before {
	content: "\f22a";
}
.icon-2-mars-stroke-h:before {
	content: "\f22b";
}
.icon-2-neuter:before {
	content: "\f22c";
}
.icon-2-genderless:before {
	content: "\f22d";
}
.icon-2-facebook-official:before {
	content: "\f230";
}
.icon-2-pinterest-p:before {
	content: "\f231";
}
.icon-2-whatsapp:before {
	content: "\f232";
}
.icon-2-server2:before {
	content: "\f233";
}
.icon-2-user-plus:before {
	content: "\f234";
}
.icon-2-user-times:before {
	content: "\f235";
}
.icon-2-bed:before {
	content: "\f236";
}
.icon-2-hotel:before {
	content: "\f236";
}
.icon-2-viacoin:before {
	content: "\f237";
}
.icon-2-train:before {
	content: "\f238";
}
.icon-2-subway:before {
	content: "\f239";
}
.icon-2-medium:before {
	content: "\f23a";
}
.icon-2-y-combinator:before {
	content: "\f23b";
}
.icon-2-yc:before {
	content: "\f23b";
}
.icon-2-optin-monster:before {
	content: "\f23c";
}
.icon-2-opencart:before {
	content: "\f23d";
}
.icon-2-expeditedssl:before {
	content: "\f23e";
}
.icon-2-battery-4:before {
	content: "\f240";
}
.icon-2-battery-full:before {
	content: "\f240";
}
.icon-2-battery-3:before {
	content: "\f241";
}
.icon-2-battery-three-quarters:before {
	content: "\f241";
}
.icon-2-battery-2:before {
	content: "\f242";
}
.icon-2-battery-half:before {
	content: "\f242";
}
.icon-2-battery-1:before {
	content: "\f243";
}
.icon-2-battery-quarter:before {
	content: "\f243";
}
.icon-2-battery-0:before {
	content: "\f244";
}
.icon-2-battery-empty:before {
	content: "\f244";
}
.icon-2-mouse-pointer:before {
	content: "\f245";
}
.icon-2-i-cursor:before {
	content: "\f246";
}
.icon-2-object-group:before {
	content: "\f247";
}
.icon-2-object-ungroup:before {
	content: "\f248";
}
.icon-2-sticky-note:before {
	content: "\f249";
}
.icon-2-sticky-note-o:before {
	content: "\f24a";
}
.icon-2-cc-jcb:before {
	content: "\f24b";
}
.icon-2-cc-diners-club:before {
	content: "\f24c";
}
.icon-2-clone:before {
	content: "\f24d";
}
.icon-2-balance-scale:before {
	content: "\f24e";
}
.icon-2-hourglass-o:before {
	content: "\f250";
}
.icon-2-hourglass-1:before {
	content: "\f251";
}
.icon-2-hourglass-start:before {
	content: "\f251";
}
.icon-2-hourglass-2:before {
	content: "\f252";
}
.icon-2-hourglass-half:before {
	content: "\f252";
}
.icon-2-hourglass-3:before {
	content: "\f253";
}
.icon-2-hourglass-end:before {
	content: "\f253";
}
.icon-2-hourglass:before {
	content: "\f254";
}
.icon-2-hand-grab-o:before {
	content: "\f255";
}
.icon-2-hand-rock-o:before {
	content: "\f255";
}
.icon-2-hand-paper-o:before {
	content: "\f256";
}
.icon-2-hand-stop-o:before {
	content: "\f256";
}
.icon-2-hand-scissors-o:before {
	content: "\f257";
}
.icon-2-hand-lizard-o:before {
	content: "\f258";
}
.icon-2-hand-spock-o:before {
	content: "\f259";
}
.icon-2-hand-pointer-o:before {
	content: "\f25a";
}
.icon-2-hand-peace-o:before {
	content: "\f25b";
}
.icon-2-trademark:before {
	content: "\f25c";
}
.icon-2-registered:before {
	content: "\f25d";
}
.icon-2-creative-commons:before {
	content: "\f25e";
}
.icon-2-gg:before {
	content: "\f260";
}
.icon-2-gg-circle:before {
	content: "\f261";
}
.icon-2-tripadvisor:before {
	content: "\f262";
}
.icon-2-odnoklassniki:before {
	content: "\f263";
}
.icon-2-odnoklassniki-square:before {
	content: "\f264";
}
.icon-2-get-pocket:before {
	content: "\f265";
}
.icon-2-wikipedia-w:before {
	content: "\f266";
}
.icon-2-safari:before {
	content: "\f267";
}
.icon-2-chrome:before {
	content: "\f268";
}
.icon-2-firefox:before {
	content: "\f269";
}
.icon-2-opera:before {
	content: "\f26a";
}
.icon-2-internet-explorer:before {
	content: "\f26b";
}
.icon-2-television:before {
	content: "\f26c";
}
.icon-2-tv:before {
	content: "\f26c";
}
.icon-2-contao:before {
	content: "\f26d";
}
.icon-2-500px:before {
	content: "\f26e";
}
.icon-2-amazon:before {
	content: "\f270";
}
.icon-2-calendar-plus-o:before {
	content: "\f271";
}
.icon-2-calendar-minus-o:before {
	content: "\f272";
}
.icon-2-calendar-times-o:before {
	content: "\f273";
}
.icon-2-calendar-check-o:before {
	content: "\f274";
}
.icon-2-industry:before {
	content: "\f275";
}
.icon-2-map-pin:before {
	content: "\f276";
}
.icon-2-map-signs:before {
	content: "\f277";
}
.icon-2-map-o:before {
	content: "\f278";
}
.icon-2-map:before {
	content: "\f279";
}
.icon-2-commenting:before {
	content: "\f27a";
}
.icon-2-commenting-o:before {
	content: "\f27b";
}
.icon-2-houzz:before {
	content: "\f27c";
}
.icon-2-vimeo:before {
	content: "\f27d";
}
.icon-2-black-tie:before {
	content: "\f27e";
}
.icon-2-fonticons:before {
	content: "\f280";
}
.icon-2-eye2:before {
	content: "\e000";
}
.icon-2-paper-clip:before {
	content: "\e001";
}
.icon-2-mail2:before {
	content: "\e002";
}
.icon-2-toggle:before {
	content: "\e003";
}
.icon-2-layout:before {
	content: "\e004";
}
.icon-2-link2:before {
	content: "\e005";
}
.icon-2-bell2:before {
	content: "\e006";
}
.icon-2-lock2:before {
	content: "\e007";
}
.icon-2-unlock:before {
	content: "\e008";
}
.icon-2-ribbon:before {
	content: "\e009";
}
.icon-2-image2:before {
	content: "\e010";
}
.icon-2-signal2:before {
	content: "\e011";
}
.icon-2-target:before {
	content: "\e012";
}
.icon-2-clipboard2:before {
	content: "\e013";
}
.icon-2-clock2:before {
	content: "\e014";
}
.icon-2-watch:before {
	content: "\e015";
}
.icon-2-air-play:before {
	content: "\e016";
}
.icon-2-camera2:before {
	content: "\e017";
}
.icon-2-video2:before {
	content: "\e018";
}
.icon-2-disc:before {
	content: "\e019";
}
.icon-2-printer:before {
	content: "\e020";
}
.icon-2-monitor:before {
	content: "\e021";
}
.icon-2-server:before {
	content: "\e022";
}
.icon-2-cog2:before {
	content: "\e023";
}
.icon-2-heart2:before {
	content: "\e024";
}
.icon-2-paragraph:before {
	content: "\e025";
}
.icon-2-align-justify:before {
	content: "\e026";
}
.icon-2-align-left2:before {
	content: "\e027";
}
.icon-2-align-center:before {
	content: "\e028";
}
.icon-2-align-right2:before {
	content: "\e029";
}
.icon-2-book2:before {
	content: "\e030";
}
.icon-2-layers2:before {
	content: "\e031";
}
.icon-2-stack:before {
	content: "\e032";
}
.icon-2-stack-2:before {
	content: "\e033";
}
.icon-2-paper:before {
	content: "\e034";
}
.icon-2-paper-stack:before {
	content: "\e035";
}
.icon-2-search:before {
	content: "\e036";
}
.icon-2-zoom-in:before {
	content: "\e037";
}
.icon-2-zoom-out:before {
	content: "\e038";
}
.icon-2-reply2:before {
	content: "\e039";
}
.icon-2-circle-plus:before {
	content: "\e040";
}
.icon-2-circle-minus:before {
	content: "\e041";
}
.icon-2-circle-check:before {
	content: "\e042";
}
.icon-2-circle-cross:before {
	content: "\e043";
}
.icon-2-square-plus:before {
	content: "\e044";
}
.icon-2-square-minus:before {
	content: "\e045";
}
.icon-2-square-check:before {
	content: "\e046";
}
.icon-2-square-cross:before {
	content: "\e047";
}
.icon-2-microphone:before {
	content: "\e048";
}
.icon-2-record:before {
	content: "\e049";
}
.icon-2-skip-back:before {
	content: "\e050";
}
.icon-2-rewind:before {
	content: "\e051";
}
.icon-2-play:before {
	content: "\e052";
}
.icon-2-pause:before {
	content: "\e053";
}
.icon-2-stop:before {
	content: "\e054";
}
.icon-2-fast-forward:before {
	content: "\e055";
}
.icon-2-skip-forward:before {
	content: "\e056";
}
.icon-2-shuffle2:before {
	content: "\e057";
}
.icon-2-repeat:before {
	content: "\e058";
}
.icon-2-folder2:before {
	content: "\e059";
}
.icon-2-umbrella:before {
	content: "\e060";
}
.icon-2-moon2:before {
	content: "\e061";
}
.icon-2-thermometer2:before {
	content: "\e062";
}
.icon-2-drop2:before {
	content: "\e063";
}
.icon-2-sun:before {
	content: "\e064";
}
.icon-2-cloud2:before {
	content: "\e065";
}
.icon-2-cloud-upload:before {
	content: "\e066";
}
.icon-2-cloud-download:before {
	content: "\e067";
}
.icon-2-upload2:before {
	content: "\e068";
}
.icon-2-download2:before {
	content: "\e069";
}
.icon-2-location2:before {
	content: "\e070";
}
.icon-2-location-2:before {
	content: "\e071";
}
.icon-2-map2:before {
	content: "\e072";
}
.icon-2-battery2:before {
	content: "\e073";
}
.icon-2-head:before {
	content: "\e074";
}
.icon-2-briefcase2:before {
	content: "\e075";
}
.icon-2-speech-bubble:before {
	content: "\e076";
}
.icon-2-anchor:before {
	content: "\e077";
}
.icon-2-globe2:before {
	content: "\e078";
}
.icon-2-box2:before {
	content: "\e079";
}
.icon-2-reload:before {
	content: "\e080";
}
.icon-2-share2:before {
	content: "\e081";
}
.icon-2-marquee:before {
	content: "\e082";
}
.icon-2-marquee-plus:before {
	content: "\e083";
}
.icon-2-marquee-minus:before {
	content: "\e084";
}
.icon-2-tag2:before {
	content: "\e085";
}
.icon-2-power:before {
	content: "\e086";
}
.icon-2-command:before {
	content: "\e087";
}
.icon-2-alt:before {
	content: "\e088";
}
.icon-2-esc:before {
	content: "\e089";
}
.icon-2-bar-graph2:before {
	content: "\e090";
}
.icon-2-bar-graph-2:before {
	content: "\e091";
}
.icon-2-pie-graph:before {
	content: "\e092";
}
.icon-2-star2:before {
	content: "\e093";
}
.icon-2-arrow-left2:before {
	content: "\e094";
}
.icon-2-arrow-right2:before {
	content: "\e095";
}
.icon-2-arrow-up2:before {
	content: "\e096";
}
.icon-2-arrow-down2:before {
	content: "\e097";
}
.icon-2-volume:before {
	content: "\e098";
}
.icon-2-mute:before {
	content: "\e099";
}
.icon-2-content-right:before {
	content: "\e100";
}
.icon-2-content-left:before {
	content: "\e101";
}
.icon-2-grid2:before {
	content: "\e102";
}
.icon-2-grid-2:before {
	content: "\e103";
}
.icon-2-columns:before {
	content: "\e104";
}
.icon-2-loader:before {
	content: "\e105";
}
.icon-2-bag:before {
	content: "\e106";
}
.icon-2-ban:before {
	content: "\e107";
}
.icon-2-flag2:before {
	content: "\e108";
}
.icon-2-trash2:before {
	content: "\e109";
}
.icon-2-expand:before {
	content: "\e110";
}
.icon-2-contract:before {
	content: "\e111";
}
.icon-2-maximize:before {
	content: "\e112";
}
.icon-2-minimize:before {
	content: "\e113";
}
.icon-2-plus2:before {
	content: "\e114";
}
.icon-2-minus2:before {
	content: "\e115";
}
.icon-2-check2:before {
	content: "\e116";
}
.icon-2-cross2:before {
	content: "\e117";
}
.icon-2-move:before {
	content: "\e118";
}
.icon-2-delete:before {
	content: "\e119";
}
.icon-2-menu2:before {
	content: "\e120";
}
.icon-2-archive2:before {
	content: "\e121";
}
.icon-2-inbox2:before {
	content: "\e122";
}
.icon-2-outbox:before {
	content: "\e123";
}
.icon-2-file:before {
	content: "\e124";
}
.icon-2-file-add:before {
	content: "\e125";
}
.icon-2-file-subtract:before {
	content: "\e126";
}
.icon-2-help2:before {
	content: "\e127";
}
.icon-2-open:before {
	content: "\e128";
}
.icon-2-ellipsis:before {
	content: "\e129";
}


